<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aurora Training Stream</title>
    <link rel="icon" href="/static/resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="stylesheet" href="static/styles/aurora/aurora.css">
    <script src="static/js/aurora/aurora.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    <!-- Навигация -->
    <div class="hover-little-thing">
        <div class="urls">
            <ul>
                <li><a href="/">Main page</a></li>
                <li><a href="/tallas2">Tallas2 Stream</a></li>
                <li><a href="/aurora">Aurora Stream</a></li>
                <li><a href="/apollo2">Apollo2 Stream</a></li>
            </ul>
        </div>
        <h1>Aurora Training Stream</h1>
    </div>
    
    <!-- Блок статистики -->
    <div class="stats-container">
        <div class="mode" id="mode">Mode: Undefined</div>
        <div class="stats" id="epoch">Epoch: Undefined</div>
        <div class="stats" id="loss">Loss: NaN</div>
        <div class="stats" id="meanReward">Mean Reward: NaN</div>
    </div>

    <!-- Основной поток видео -->
    <img id="stream" alt="Video Stream" />

    <!-- Кнопка для просмотра логов -->
    <a href="http://aurora.ru:21936" class="logs-button">Logs</a>
</body>
</html>
