body {
    background-image: url('/static/resources/hub_background.jpg');
    /* Фон для Tallas2 */
    background-size: cover;
    background-position: center;
    color: white;
    /* Цвет текста для контраста */
    margin: 0;
    /* Убираем отступы */
    padding: 10px;
    /* Убираем отступы */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Центрируем элементы */
    scrollbar-width: auto;
    overflow-y: auto;
    height: fit-content;
    justify-content: center;
    font-family: 'Doom2016Text', Arial, sans-serif;
}

.hover-little-thing {
    transition: width 0.5s;
    width: 5vw;
    max-width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    /* align-items: center; */
    /* height: 100vh; */
    /* text-align: center; */
    text-shadow: 2px 2px 5px black;
    /* border-bottom: 5px; */
    /* border-right: 5px; */
    border: 5px solid #ff47478c;
    border-left: 0px;
    border-radius: 0px 10px 10px 0px;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    /* flex-wrap: revert-layer; */
    align-content: center;
    /* justify-content: center; */
    height: -webkit-fill-available;
    align-items: center;
    justify-content: flex-end;
}

ul {
    padding-left: 1vw;
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* align-content: flex-start; */
}


h1 {
    margin: 0;
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    /* border: 5px solid red; */
    /* border-radius: 10px; */
    /* padding: 20px 10px; */
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* position: absolute; */
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-little-thing:hover {
    /* content-visibility: visible; */
    /* content-visibility: visible; */
    content-visibility: visible;
    max-width: 200px;
    width: 15vw;

    .urls {
        pointer-events: all;
        visibility: visible;
        opacity: 1;
    }

    /* content-visibility: visible; */
}


.urls {
    pointer-events: none;
    position: fixed;
    left: 0;
    opacity: 0;
    transition:
        visibility 1s, opacity 0.3s;
    top: 0;
    margin-top: 5vh;
}

li {
    text-align: center;
    font-size: 2em;
    list-style-type: none;
    padding: inherit;
    margin: inherit;
    text-align: center;
    display: flex;
    /* justify-content: center; */
}

a {
    color: #ffffff;
    text-decoration: none;
    /* visibility: hidden; */
    text-align: center;
}

a:hover {
    color: #ff47478c;
    text-decoration: none;
    cursor: pointer;
}

.stats-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff47478c;
    border: 2px solid #ff000099;
    border-radius: 15px;
    padding: 15px;
    text-align: left;
    font-family: Arial, sans-serif;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.stats {
    font-size: 1.2em;
    margin: 5px;
    text-shadow: 1px 1px 3px black;
}

.mode {
    font-size: 1.8em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px black;
}

.stream-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.stream-links a {
    color: white;
    font-size: 2em;
    margin: 10px 0;
    text-decoration: none;
    padding: 20px 40px;
    /* Увеличение кнопок */
    border: 2px solid #ff0000;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный черный фон */
}

#stream {
    width: 80vw;
    /* 80% от ширины экрана */
    height: 60vh;
    /* Высота по пропорциям */
    max-width: 1280px;
    /* Максимальная ширина */
    max-height: 720px;
    /* Максимальная высота */
    border: 5px solid #ffcc00a1;
    /* Цвет рамки */
    border-radius: 10px;
    /* Скругление углов рамки */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    /* Тень для рамки */
    justify-content: center;
    display: block;
    /* Центрирование изображения */
    margin: 20px auto;
    /* Центрирование изображения */
}

#best-video {
    width: 80vw;
    /* 80% от ширины экрана */
    max-width: 1280px;
    /* Максимальная ширина */
    max-height: 720px;
    /* Максимальная высота */
    border: 5px solid #00ccffab;
    /* Цвет рамки */
    border-radius: 10px;
    /* Скругление углов рамки */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    /* Тень для рамки */
    justify-content: center;
    display: block;
    /* Центрирование видео */
    margin: 20px auto;
    /* Отступ между потоками */
}

.logs-button {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ffcc00;
    /* Цвет кнопки */
    color: black;
    /* Цвет текста кнопки */
    text-decoration: none;
    border-radius: 5px;
    /* Скругление углов кнопки */
    font-size: 1.2em;
    /* Размер шрифта кнопки */
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

.logs-button:hover {
    background-color: #e6b800;
    transform: scale(1.05);
}


/* Медиазапросы для мобильных устройств */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
        /* Уменьшаем размер заголовка для маленьких экранов */
    }

    .stats {
        font-size: 1em;
        /* Уменьшаем размер шрифта статистики */
    }

    .logs-button {
        font-size: 1em;
        /* Уменьшаем размер шрифта кнопки */
        padding: 8px 16px;
        /* Уменьшаем отступы кнопки */
    }
}