/* Подключение шрифта Doom2016Text */
@font-face {
    font-family: 'Doom2016Text';
    src: url('/static/fonts/amazdoomleft.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Doom2016Text', Arial, sans-serif;
    overflow: hidden;
}

/* Стили для хаба */
body.hub {
    background-size: cover;
    background-position: center;
    color: #fff; /* Цвет текста */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота на весь экран */
    overflow: hidden;
}

/* Стили для сервера tallas2 */
body.tallas2 {
    background-size: cover;
    background-position: center;
}

/* Стили для сервера aurora */
body.aurora {
    background-image: url('/static/resources/aurora_background.jpg'); /* Проверьте наличие файла aurora_background.jpg */
    background-size: cover;
    background-position: center;
}

/* Стили для сервера apollo2 */
body.apollo2 {
    background-image: url('/static/resources/apollo2_background.jpg'); /* Проверьте наличие файла apollo2_background.jpg */
    background-size: cover;
    background-position: center;
}
