<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DITH Streaming Hub</title>
    <link rel="icon" href="/static/resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body style="background-image: url('/static/resources/hub_background.jpg'); background-size: cover; background-position: center; color: #fff; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; overflow: hidden;">
    <h1>DITH Streaming Hub</h1>
    <div class="stream-links">
        <a href="/tallas2">Tallas2 Stream</a>
        <a href="/aurora">Aurora Stream</a>
        <a href="/apollo2">Apollo2 Stream</a>
    </div>
</body>
</html>
