<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ server_name }} Training Stream</title>
    <link rel="icon" href="/static/resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
    <style>
        body {
            background-image: url('/static/resources/tallas2_background.jpg'); /* Фон для Tallas2 */
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    <h1>{{ server_name | capitalize }} Training Stream</h1>
    
    <div class="stats-container">
        <div class="mode" id="mode">Mode: N/A</div>
        <div class="stats" id="epoch">Epoch: N/A</div>
        <div class="stats" id="loss">Loss: N/A</div>
        <div class="stats" id="meanReward">Mean Reward: N/A</div>
    </div>

    <img id="stream" width="800" alt="Video Stream" />

    <a href="http://talos2.ru:21936" class="logs-button">Logs</a>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var socket = io();  // Подключение к WebSocket
            
            socket.on('new_frame', function(data) {
                var img = document.getElementById('stream');
                img.src = 'data:image/jpeg;base64,' + data.image;

                document.getElementById('epoch').innerText = 'Epoch: ' + data.epoch;
                document.getElementById('loss').innerText = 'Loss: ' + data.loss;
                document.getElementById('meanReward').innerText = 'Mean Reward: ' + data.meanReward;
                document.getElementById('mode').innerText = 'Mode: ' + data.mode;  
            });

            socket.on('connect', function() {
                console.log('Connected to server');
            });

            socket.on('disconnect', function() {
                console.log('Disconnected from server');
            });

            socket.on('connect_error', function(error) {
                console.error('Connection Error:', error);
            });
        });
    </script>
</body>
</html>
